# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.dist/
build/
dist/

# Environments
.venv/
.env
.env.*

# Caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# OS
.DS_Store
